body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --navbar-bg: #070B2D;
    --body-bg: #7EB3AD;
    --primary: #DA1C3F;
}

.login-wrapper
{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.login-navbar
{
    padding: 5px;
    background-color: var(--navbar-bg);
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.login-body
{
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card
{
    min-width: 320px;
    min-height: 450px;
    width: 400px;
    height: 450px;
    max-width: 600px;
    max-height: 700px;
    background-color: #E0E0E0;
    box-shadow: 5px 5px 4px #575656;
}

.login-header
{
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: #fff;
    font-size: 22px;
}

.input-login
{
    border-radius: 20px;
    outline: none;
    border: none;
    display: inline;
}

.selected
{
    background: #DA1C3F !important;
    color: #fff;
}

.login-all-fields label
{
    width: 120px;
}

.register-card
{
    margin: auto;
    min-width: 450px;
    max-width: 600px;
    background-color: #E0E0E0;
    box-shadow: 5px 5px 4px #575656;
}

@media  screen and (max-width:400px)
{
    .login-all-fields label
        {
            width: 100%;
        }

    .input-login
    {
        width: 100%;
    }

    .register-card
        {
            min-width: 320px;
        }
}