body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --navbar-bg: #070B2D;
    --body-bg: #7EB3AD;
    --primary: #DA1C3F;
}

#navbar
{
    cursor: pointer;
}

.remove-decoration-of-anchor
{
    text-decoration: none !important;
}

#side-nav
{
    width: 250px;
    height: 100vh;
    overflow: none;
    background: var(--primary);
    position: fixed;
    top: 60px;
    z-index: 5;
}

.app
{
    position: relative;
    top: 60px;
    background: var(--body-bg);
    min-height: calc(100vh - 60px);
}

.navbar-side
{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: rgba(240, 230, 230, 0.6);
    border: 2px solid rgba(247, 1, 54, 0.4);
    color: white;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.navbar-side:hover
{
    font-size: 26px;
    color: azure;
    background: var(--primary);
    box-shadow: inset 2px 2px 10px rgb(243, 165, 185);
}

.active-nav
{
    background: var(--primary);
    border: 2px solid rgba(240, 230, 230, 0.8);
}

.profile-small
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #DA1C3F;
    -webkit-text-stroke: .5px rgb(24, 22, 22);
}

@media  screen and (max-width:400px)
{
    .profile-small
    {
        width: 25px;
        height: 25px;
    }
}