body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --navbar-bg: #070B2D;
    --body-bg: #7EB3AD;
    --primary: #DA1C3F;
    --bg-light-lime: #A9D3B5;
}


.bg-primary-color
{
    background: var(--primary);
}

.self-align
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.login-wrapper
{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--body-bg);
}

.login-navbar
{
    height: 60px;
    background-color: var(--navbar-bg);
    color: #fff;
    font-size: 24px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body
{
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
}

.login-card
{
    min-width: 320px;
    width: 450px;
    max-width: 600px;
    background-color: #E0E0E0;
    box-shadow: 5px 5px 4px #575656;
}

.inner-body
{
    position: absolute;
    top: 60px;
    width: 50%;
}

.login-header
{
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: #fff;
    font-size: 22px;
}

.input-login
{
    border-radius: 20px;
    outline: none;
    border: none;
    display: inline;
}

.selected
{
    background: #DA1C3F !important;
    color: #fff;
}

.register-card
{
    position: relative;
    top: 60px;
    margin: auto;
    min-width: 500px;
    max-width: 700px;
    background-color: #E0E0E0;
    box-shadow: 5px 5px 4px #575656;
}

.disappear
{
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

.danger-field
{
    background: rgb(242 ,201, 201);
    color: red;
    border-left: 5px solid red;
}

.success-field
{
    background: #b6eab8;
    color: green;
    border-left: 5px solid green;
}

.close
{
    position: relative;
    right: 2%;
    transform: translateX(-2%);
    cursor: pointer;
}

.decoration
{
    text-decoration: none !important;
}


#navbar
{
    cursor: pointer;
}

.remove-decoration-of-anchor
{
    text-decoration: none !important;
}

#side-nav
{
    width: 250px;
    height: 100vh;
    overflow: none;
    background: var(--primary);
    position: fixed;
    top: 60px;
    z-index: 5;
}

.app
{
    position: relative;
    top: 60px;
    background: var(--body-bg);
    min-height: calc(100vh - 60px);
}

.navbar-side
{
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: rgba(240, 230, 230, 0.6);
    border: 2px solid rgba(247, 1, 54, 0.4);
    color: white;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.navbar-side:hover
{
    font-size: 26px;
    color: azure;
    background: var(--primary);
    box-shadow: inset 2px 2px 10px rgb(243, 165, 185);
}

.active-nav
{
    background: var(--primary);
    border: 2px solid rgba(240, 230, 230, 0.8);
}

.profile-small
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #DA1C3F;
    -webkit-text-stroke: .5px rgb(24, 22, 22);
}

.notifications
{
    background: var(--bg-light-lime);
    max-width: 600px;
    height: auto;
    transform: translateY(10%);
}

button:disabled
{
    cursor: not-allowed;
}


#institute-form-update , .branch-department-div
{
    width: 60%;
}

.delete-branch , .delete-department
{
    padding: 6px 4px;
    box-shadow: 1px -1px 2px #5e5e5e,
                -1px 1px 2px #5e5e5e;
    border-radius: 5px;
    cursor: pointer;
}

.go-add-department
{
    padding: 6px 6px;
    box-shadow: 0.5px -0.5px 1px #a1a1a1,
                -0.5px 0.5px 1px #a1a1a1;
    border-radius: 50%;
    cursor: pointer;
}

#new-branch-div , #new-department-div
{
    width: 300px;
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media  screen and (max-width:780px)
{
    .inner-body
    {
        width: 100%;
    }

    #institute-form-update , .branch-department-div
    {
        width: 70%;
    }

    #view-class
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media  screen and (max-width:400px)
{

    .login-all-fields label
        {
            width: 100%;
        }

    .input-login
    {
        width: 100%;
    }

    .register-card
        {
            min-width: 320px;
        }

    .login-navbar
    {
        font-size: 16px;
    }

    .inner-body
    {
        width: 100%;
    }

    .profile-small
    {
        width: 30px;
        height: 30px;
        text-align: center;
    }

    #institute-form-update , .branch-department-div
    {
        width: 100%;
    }
}